<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/users/login">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <input
            type="hidden"
            name="redirectUrl"
            id="redirectUrlInput"
            value=""
          />
          <button type="submit" class="btn btn-danger w-100">Login</button>
        </form>
        <hr />
        <p class="text-center">
          Don't have an account?
          <a
            href="#"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#signupModal"
          >
            Sign Up
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/users/signup">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-danger w-100">Sign Up</button>
        </form>
        <hr />
        <p class="text-center">
          Already have an account?
          <a
            href="#"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Login
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
